/* start service */
.main-section{
    height: 80vh;
    background-image: url(../images/service/pet-service.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    /* background-position: center; */
}
.consult .container{
    width: 1200px !important;
}
.main-section .overlay{
    height: 80vh;
    background-color: rgba(68, 68, 68, 0.5);
}
.main-section .container .main-content{
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: center;
    /* line-height: 80vh; */
    /* display: flex; */
    /* background-color: aqua; */
}
.services .card .card-body{
    height: 351.7px;
}
.consult .consult-content{
    background-color: rgb(185, 185, 231);
}
.consult .consult-content .content h2{
    width: 150px;
    background-color: white;
    
}
.consult .container .image{
    margin-right: 0 !important;
    padding-right: 0 !important;
}

/* end service */