body{
    background-color: #ffffff;
}
.hero-banner {
    height: 70vh; /* Full height of the viewport */
    background-image: url(../images/daycare/hero-banner.png); /* Add your background image */
    background-size: cover; /* Cover the entire area */
    background-position:left bottom; /* Center the background image */
}
